<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Thông tin nội bộ</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tài liệu<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if employee_signed_in? %>
              <li><%= link_to 'Tài liệu công ty', tai_lieu_cong_ty_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Tài liệu phòng ban', tai_lieu_phong_ban_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Tài liệu của tôi', tai_lieu_cua_toi_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Tài liệu công khai', tai_lieu_cong_khai_path %></li>
            <% else %>
              <li><%= link_to 'Tài liệu công khai', tai_lieu_cong_khai_path %></li>
            <% end %>
            
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tin tức<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if employee_signed_in? %>
              <li><a href="#">Tin tức của công ty</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Tin tức của liên phòng ban</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Tin tức công khai</a></li>
            <% else %>
              <li><a href="#">Tin tức công khai</a></li>
            <% end %>
          </ul>
        </li>
        <% if employee_signed_in? %>
          <li><%= link_to 'Thông tin đồng nghiệp', thong_tin_dong_nghiep_path %></li>
        <% end %>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Tìm kiếm ...">
        </div>
        <button type="submit" class="btn btn-default">Tìm kiếm</button>
      </form>
      <% if employee_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Thông tin cá nhân<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Thông tin cá nhân', thong_tin_ca_nhan_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Thông tin công việc', thong_tin_cong_viec_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Thông tin hợp đồng', thong_tin_hop_dong_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Cập nhật thông tin cá nhân', edit_employee_registration_path %>
              <% if employee_signed_in? %>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'Đăng xuất', destroy_employee_session_path, method: :delete %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>